.loader {
  position: absolute;
  top: 0;
  left: 0;
  height: 100dvh;
  width: 100%;
  display: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #111;
  transition: top 0.5s ease;
  h1 {
    font-size: 20vw;
    font-weight: 900;
    text-transform: uppercase;
    color: #daa442;
  }
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.image {
  height: 300px;
  width: 450px;
  margin-top: 5vw;
  border: 1vw solid #222;
  outline: 1vw solid #daa442;
  object-fit: cover;
  object-position: center;
}

.btns {
  display: flex;
  align-items: center;
  gap: 5vw;
}

.btn {
  margin-top: 5vw;
  padding: 1vw 5vw;
  border: none;
  font-size: 2vw;
  font-weight: 900;
  text-transform: uppercase;
  color: #111;
  box-shadow: 5px 5px 0 #222;
  background-color: #daa442;
  cursor: pointer;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  &:hover {
    transform: translateY(-5px);
    box-shadow: 7px 10px 0 #222;
  }
  &:active {
    transform: translateY(5px);
    box-shadow: 0px 0px 0 #222;
  }
}